@model List<Movie>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/CERTI.png" />
</div>
@*Suggested Movies*@
<div class="row">
    <h4>Suggested Movies:</h4>
</div>
<div class="row">
    <div class="image-container">
        @{
            var random = new Random();
            var shuffledModel = Model.OrderBy(x => random.Next()).ToList();

            var count = 0;
            for (var i = 0; i < shuffledModel.Count && count < 3; i++)
            {
                if (shuffledModel[i].Thumbnail != null && shuffledModel[i].Thumbnail.Length > 0 && shuffledModel[i].Suggested == true)
                {
                    <div class="suggested">
                        <a href="@Url.Action("Details", "Movies", new { id = shuffledModel[i].Id })">
                            <img src="data:image;base64,@Convert.ToBase64String(shuffledModel[i].Thumbnail)" alt="Thumbnail" />
                        </a>
                    </div>
                    count++;
                }
            }
        }
    </div>
</div>

<div class="row justify-content-end">
    <div class="col-auto">
        <a href="@Url.Action("Index", "Movies")" class="btn btn-primary">View All</a>
    </div>
</div>



