@model List<Movie>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movie Manager</h1>

    <p>Welcome to the Movie Manager</p>
</div>
@*Suggested Movies*@
<div class="row">
    @foreach (var movie in Model)
    {
        <div>
            <h3>@movie.Title</h3>
            <p>@movie.Genre</p>
        </div>
    }
</div>
<div class="row">
    <div class="container">
        <div class="slick-carousel">
    @{
        int nonNullThumbnailCount = 0;
        for (var i = 0; i < Model.Count; i += 2)
        {
            if (Model[i].Thumbnail != null && Model[i].Thumbnail.Length > 0)
            {
                <div class="slide-content">
                    <img src="data:image;base64,@Convert.ToBase64String(Model[i].Thumbnail)" alt="Thumbnail" />
                </div>
                nonNullThumbnailCount++;
            }

            if (i + 1 < Model.Count && nonNullThumbnailCount < 2)
            {
                if (Model[i + 1].Thumbnail != null && Model[i + 1].Thumbnail.Length > 0)
                {
                    <div class="slide-content">
                        <img src="data:image;base64,@Convert.ToBase64String(Model[i + 1].Thumbnail)" alt="Thumbnail" />
                    </div>
                    nonNullThumbnailCount++;
                }
            }

            if (nonNullThumbnailCount >= 2)
            {
                break; // Stop the loop once two non-null thumbnails are shown
            }
        }
    }
</div>

    </div>
</div>

