/* ------------ VARIABLES ------------ */
:root{
  /* COLORS */
  --color: #9176FF;
  --dark-color: #2b2b2b;
  --dark-icon-color: #fff;
  --light-color: #f7f7f7;
  --light-icon-color: #FFDE59;
}


/* ------------ BASE ------------ */

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.submit {
    margin-top: 5px;
}


.navbar-nav > .nav-item > .nav-link.active {
  position: relative;
  color: #333;
}

.navbar-nav > .nav-item > .nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 2px;
    background-color: #6b21a8;
    animation: line-grow 0.3s ease-in-out forwards;
}

@keyframes line-grow {
  0% {
    width: 0;
  }
  100% {
    width: 20px;
  }
}

.control-container {
  margin-top: 20px;
  text-align: center;
}

.preview-thumbnail {
    display: none;
    width: 100px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.control-label {
    display: flex;
}
.text-danger {
    display: flex;
}

..form-container {
    max-height: 400px;
    overflow-y: auto;
}

.suggested {
    width: 200px;
    height: 300px;
    flex-basis: calc(33.33% - 50px); /* Adjust this value to leave some space between images */
    margin-bottom: 10px; /* Adjust this value to set the vertical spacing between rows */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.suggested:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 36px;
    font-weight: bold;
}



/* -------------- MARGINS -------------- */


/* -------------- IMAGES -------------- */
.preview-thumbnail {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    
}

.preview-thumbnail[src="#"], .preview-thumbnail[src="invalid-url"] {
    visibility: hidden;
    margin-bottom: 10px;
}

td > img {
    width: 50px;
    height: 100%;
}

.suggested > a > img {
    width: 200px;
    height: 300px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* -------------- BUTTON -------------- */
.btn-theme{
  background-color: #fff;
  width: 4.5em;
  height: 2.5em;
  border-radius: 10em;
  padding: 0 0.2em;

  box-shadow: inset 0 8px 60px rgba(0,0,0, .1),
              inset 0 8px 8px rgba(0,0,0, .1),
              inset 0 -4px 4px rgba(0,0,0, .1);

  position: relative;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.btn__indicator{
  background-color: #fff;
  width: 2em;
  height: 2em;
  border-radius: 50%;

  position: absolute;

  box-shadow: 0 8px 40px rgba(0,0,0, .2);

  transition: transform .3s ease;
}

.btn__icon-container{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__icon{
  color: var(--light-icon-color);
  font-size: 1.5rem;
}

/* -------------- ANIMATION ------------ */
.btn__icon.animated {
    animation: spin 0.5s;
}

@keyframes spin{
  to {
    transform: rotate(360deg);
  }
}

/* -------------- DARKMODE -------------- */
body.night-theme {
    background-color: var(--dark-color);
    color: #fff;
}

.night-theme .btn{
  box-shadow: inset 0 8px 60px rgba(0,0,0, .3),
              inset 8px 0 8px rgba(0,0,0, .3),
              inset 0 -4px 4px rgba(0,0,0, .3);
}

.night-theme .btn__indicator{
  transform: translateX(2.1em);
  background-color: var(--dark-color);
  box-shadow: 0 8px 40px rgba(0,0,0, .3);
}

.night-theme .btn__icon{
  color: var(--dark-icon-color);
}

table.night-theme {
    color: #fff;
}

.navbar.night-theme {
  background-color: var(--dark-color);
  color: #fff;
}

.navbar-brand.night-theme {
  color: #fff;
}

.nav-link.night-theme {
  color: #fff;
}

.nav-link.active.night-theme {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.night-theme .navbar-nav > .nav-item > .nav-link.active::after {
    background-color: #fbbf24;
}

h1.night-theme {
    color: #fff;
}

div > p.night-theme {
    color: #fff;
}
